<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>float6</title>
    <style>
      a {
        /* 밑줄 없애기, 배경색 blue, 글자색 white, margin 10px */
        text-decoration: none;
        background-color: blue;
        color: white;
        margin: 10px;
        width: 50px;
        height: 50px;
        /* display: inline-block; */
        /* float를 주면 기본적으로 block요소로 바뀐다. */
        float: left;
      }
    </style>
  </head>
  <body>
    <p>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </p>
  </body>
</html>
