<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>position2</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: fixed;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, deserunt.
      Iure nobis rerum voluptatum aliquid maiores. Hic sint nobis praesentium
      aliquam nulla in nostrum perspiciatis eos atque quam, accusantium possimus
      esse ea quos ullam est, cum ratione quo, ipsum reprehenderit dolorum
      cumque accusamus. Qui ipsum eum recusandae non totam illo vero, ipsa
      voluptatum animi beatae eos vel nemo similique consectetur libero labore
      maxime est hic dolorum magni, rerum autem voluptas odit! Ea, id ipsum!
      Mollitia ducimus dolorem inventore molestiae sequi! Ullam fugiat quod,
      aspernatur quis praesentium, similique illo minima libero non, doloremque
      omnis officiis eaque architecto! Ipsam architecto et vel provident
      voluptate necessitatibus sapiente, esse enim voluptatum neque accusamus
      quia modi optio, voluptates corrupti obcaecati, consequuntur iusto quidem
      eos vitae aspernatur laudantium assumenda! Facilis voluptates dolore
      reiciendis quasi, magnam repudiandae iusto ea, voluptatem sunt tempora
      odit officia nihil quis eius porro id voluptate laudantium est vero
      nostrum. Ipsam ad earum nostrum adipisci qui! Animi sint praesentium
      adipisci aliquid quidem nisi voluptatibus, necessitatibus, voluptas enim,
      accusamus illum error perspiciatis reiciendis eum! Veritatis
      exercitationem deserunt quod sequi enim fugiat, labore maiores ullam?
      Minus, beatae pariatur quis cum nulla quasi eos, suscipit iste, quam totam
      quae a in nam? Ad, sunt, quaerat sapiente molestiae culpa accusantium
      inventore quod cum suscipit quas animi exercitationem consequatur, quis
      eaque aperiam in? Eos consequatur hic porro id illo a, sunt quia facere
      nam quaerat provident, temporibus laboriosam consequuntur suscipit
      sapiente asperiores in esse nisi harum obcaecati? Quo laboriosam ipsam
      beatae optio officiis dolor, et eum harum repellendus ex, veniam tempora
      quasi iusto voluptates ab, quae deleniti? Corrupti quae dolore, enim nihil
      odit beatae reprehenderit numquam est ipsum provident assumenda id dolor
      non ipsa quia, commodi tenetur, aliquam culpa impedit obcaecati
      consectetur soluta saepe! Possimus voluptate voluptatum eius repellendus,
      voluptas harum minima quia saepe molestias sed, quaerat atque nam quasi,
      corporis accusantium quos. Dignissimos at consequatur fuga quo iusto vel
      neque nostrum natus. Quis, neque? Blanditiis accusantium saepe veniam
      delectus! Tempore hic, error assumenda minima perspiciatis saepe nesciunt
      et minus numquam culpa delectus laborum soluta est blanditiis iusto
      asperiores quisquam dolorum sed aliquam quia. Vel magni quae voluptas
      repellendus, porro illum quo, amet incidunt esse minus error voluptatum
      ratione qui eum enim sapiente quas id cupiditate et architecto perferendis
      temporibus minima! Dolor, similique. Aliquid ut, saepe, nihil ea dolore
      commodi atque sint aliquam numquam temporibus possimus vitae culpa omnis
      cum laudantium quidem deserunt veniam, recusandae neque animi facere. A
      ipsa facilis, sequi vitae expedita quia similique dicta animi libero vel
      modi ducimus illum adipisci impedit porro est autem dignissimos incidunt
      nulla, quisquam sint suscipit repellat totam? Ratione, sint sed ducimus
      ipsam vitae consequatur velit alias libero odit. Excepturi soluta voluptas
      itaque, cumque cum ducimus explicabo ratione assumenda tempora aperiam
      labore! Doloribus sapiente dolorem vitae perspiciatis sit, maxime,
      repudiandae voluptatum id nesciunt rerum ex minima molestiae? Hic eligendi
      voluptates vero laudantium enim qui doloremque, dolorem repellendus, illo
      ut id modi! In, dignissimos facilis rerum eveniet saepe repellat itaque
      voluptatum voluptatibus! Deleniti doloremque adipisci quis cum voluptates,
      omnis fugiat voluptatibus.
    </p>
  </body>
</html>
